@font-face {
  font-family: 'Open Sans';
  src:url('../src/fonts/OpenSans-Regular.ttf');
}

*{
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center; 

  color: #fff;
  background: linear-gradient(to bottom,#8230C0,#170624);
}